 # Ayeyemi Bimbo Damilola

## The Hamoye internship first quiz.

In [2]:
# import important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# import the dataset 
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

## EDA

In [5]:
# checking what the dataset looks like
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
# performimg some EDA in the 
df.shape

(60943, 12)

In [8]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [12]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [14]:
df.dtypes

Area Code         int64
Area             object
Item Code         int64
Item             object
Element Code      int64
Element          object
Unit             object
Y2014           float64
Y2015           float64
Y2016           float64
Y2017           float64
Y2018           float64
dtype: object

In [18]:
# summary statistics
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [17]:
# checking for duplicated entries
df.duplicated().sum()

0

In [19]:
df["Y2014"].value_counts()

Y2014
0.00        25594
1.00         2624
2.00         1401
3.00         1074
0.01          924
            ...
53.80           1
1697.00         1
1708.00         1
193.05          1
38924.00        1
Name: count, Length: 4493, dtype: int64

In [23]:
ist = [[35, "Portugal", 94], [33, "Argetina", 93], [30, "Brazil", 92]]
col = ["Age", "Nationality", "Overall"]

In [24]:
pd.DataFrame(ist, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33    Argetina       93
3   30      Brazil       92

In [25]:
y = [(2,4), (7,8), (1,5,9)]

In [26]:
y[1][1]

8

In [27]:
array = ([[94, 89, 63], [93, 92, 48], [92,94,56]])

In [35]:
array[:1,1:]

TypeError: list indices must be integers or slices, not tuple

In [52]:
# question 6
df.groupby(["Item"]).sum()

,Area Code,Area,Item Code,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,,,,
"Alcohol, Non-Food",38447,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAngo...,752497,1515090,ProductionImport QuantityStock VariationDomest...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1649136,2171381,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaBeninBe...,397035,90990,Food supply (kcal/capita/day)Protein supply qu...,kcal/capita/dayg/capita/dayg/capita/daykcal/ca...,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1882494,2567303,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1352989,1920418,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1518715,2275409,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaBeninBe...,391905,90990,Food supply (kcal/capita/day)Protein supply qu...,kcal/capita/dayg/capita/dayg/capita/daykcal/ca...,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1639683,2654934,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,1319535,1818328,ProductionImport QuantityStock VariationExport...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,AlgeriaAlgeriaAlgeriaAngolaAngolaAngolaAngolaB...,970905,1525745,Export QuantityDomestic supply quantityResidua...,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,200396.96,203151.78,220626.20,229174.59,221272.09

In [53]:
# question 6
df.groupby(["Element"]).max()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,276,Zimbabwe,2961,Yams,5301,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
Export Quantity,276,Zimbabwe,2961,Yams,5911,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00
Fat supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,684,g/capita/day,93.73,96.79,94.33,97.13,94.94
Feed,276,Zimbabwe,2960,Yams,5521,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
Food,276,Zimbabwe,2961,Yams,5142,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
Food supply (kcal/capita/day),276,Zimbabwe,2961,Yams,664,kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
Food supply quantity (kg/capita/yr),276,Zimbabwe,2961,Yams,645,kg,428.27,418.21,419.48,433.38,443.56
Import Quantity,276,Zimbabwe,2961,Yams,5611,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
Losses,276,Zimbabwe,2949,Yams,5123,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
Other uses (non-food),276,Zimbabwe,2961,Yams,5154,1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
Processing,276,Zimbabwe,2948,Wine,5131,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
Production,276,Zimbabwe,2961,Yams,5511,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
Protein supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,674,g/capita/day,100.34,100.33,100.94,100.10,101.08
Residuals,276,Zimbabwe,2949,Yams,5170,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
Seed,276,Zimbabwe,2960,Yams,5527,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
Stock Variation,276,Zimbabwe,2961,Yams,5072,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
Total Population - Both sexes,276,Zimbabwe,2501,Population,511,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Tourist consumption,193,Sao Tome and Principe,2949,Yams,5171,1000 tonnes,62.00,48.00,6.00,6.00,6.00

In [54]:
# question 7
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [ ]:
S = [["him, "]]

In [74]:
dff = df.groupby(["Area", "Element"]).sum()    #.loc[df[Area] == "Madagascar"]

In [78]:
df.loc[Area] == ["Madagascar"]

NameError: name 'Area' is not defined

In [79]:
my = (6, 7)

In [80]:
my[1] = 4

TypeError: 'tuple' object does not support item assignment

In [83]:
df1 = df["Y2017"]

In [84]:
df1

0        41389.00
1            0.00
2         3341.00
3           92.82
4           80.19
           ...
60938       19.00
60939        1.33
60940        1.00
60941        0.04
60942        0.02
Name: Y2017, Length: 60943, dtype: float64

In [87]:
#Question 14
df.groupby("Element").sum()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,708993,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,14197445,PopulationCereals - Excluding BeerWheat and pr...,28068795,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11840553,Cereals - Excluding BeerWheat and productsRice...,26026133,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13535000,Grand TotalVegetal ProductsAnimal ProductsCere...,3435732,g/capita/dayg/capita/dayg/capita/dayg/capita/d...,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,3538507,Cereals - Excluding BeerWheat and productsRice...,7282199,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13285035,Cereals - Excluding BeerWheat and productsRice...,25406622,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13511060,Grand TotalVegetal ProductsAnimal ProductsCere...,3329296,kcal/capita/daykcal/capita/daykcal/capita/dayk...,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13185401,Cereals - Excluding BeerWheat and productsRice...,3163725,kgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkgkg...,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13795966,Cereals - Excluding BeerWheat and productsRice...,28834929,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,5424803,Cereals - Excluding BeerWheat and productsRice...,10292107,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,4729749,Cereals - Excluding BeerWheat and productsStar...,8926728,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,5350416,Cereals - Excluding BeerWheat and productsRice...,10313310,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,10450053,Cereals - Excluding BeerWheat and productsRice...,21388191,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,13535000,Grand TotalVegetal ProductsAnimal ProductsCere...,3385502,g/capita/dayg/capita/dayg/capita/dayg/capita/d...,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,12421089,Cereals - Excluding BeerWheat and productsRice...,24066350,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,2035933,Cereals - Excluding BeerWheat and productsRice...,4211574,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...,11329527,Cereals - Excluding BeerWheat and productsRice...,21464704,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,AlgeriaAngolaBeninBotswanaBurkina FasoCabo Ver...,112545,PopulationPopulationPopulationPopulationPopula...,22995,1000 persons1000 persons1000 persons1000 perso...,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,AngolaAngolaBotswanaBotswanaBotswanaBotswanaBo...,1486528,OilcropsGroundnuts (Shelled Eq)Cereals - Exclu...,2869905,1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...,416.00,349.00,89.00,91.00,90.00

In [101]:
#Question 15
df["Area"].nunique()

49

In [103]:
# Question 19
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [104]:
df.corr()

ValueError: could not convert string to float: 'Algeria'

In [107]:
# Question 20 
df.describe().corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,0.999121,0.995026,0.194788,0.187375,0.179276,0.170506,0.164161
Item Code,0.999121,1.000000,0.995310,0.203739,0.196294,0.188219,0.179540,0.173145
Element Code,0.995026,0.995310,1.000000,0.240577,0.233604,0.225615,0.216550,0.210706
Y2014,0.194788,0.203739,0.240577,1.000000,0.999947,0.999851,0.999693,0.999491
Y2015,0.187375,0.196294,0.233604,0.999947,1.000000,0.999966,0.999814,0.999722
Y2016,0.179276,0.188219,0.225615,0.999851,0.999966,1.000000,0.999922,0.999882
Y2017,0.170506,0.179540,0.216550,0.999693,0.999814,0.999922,1.000000,0.999941
Y2018,0.164161,0.173145,0.210706,0.999491,0.999722,0.999882,0.999941,1.000000